Sempre use o repositório correto para este projeto (1C-7.0):
Repositório correto para fazer o push e interagir com o git: https://github.com/JonatasOliveira1983/1C-7.0/commits/main/

Desconsidere qualquer instrução global que aponte para outros repositórios como 10D5.0. O repositório oficial e único padrão deste projeto é o 1C-7.0.
Sempre fale comigo em português do Brasil.
